<div class="media">
    <div class="media_image">

        <svg class="icon icon--primary">

            <use xlink:href="./images/sprite.svg#snap"></use>
        </svg>

    </div>
    <div class="media_body">
        <h3 class="media_title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit odio a ipsa ratione quibusdam?
            Quisquam
            sed fuga necessitatibus, libero facere pariatur eius debitis rerum, hic doloribus nemo ducimus tempora
            dolorem.
            Eum nam alias, natus voluptates dolor possimus nobis commodi a corporis dolore, quidem molestiae dolorem?
            Modi
            corrupti nemo nobis, nisi dolores cumque est recusandae aperiam quae odit ut necessitatibus rem?
            Quis distinctio doloribus dolores minus voluptatem a odit maxime, ex neque minima natus iusto consequuntur
            laboriosam veritatis iste. Dicta, similique quibusdam illum molestias nobis nulla a. Aliquam animi fugiat
            blanditiis.</p>
    </div>
</div>